<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link href="/lib/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/lib/element-ui/v2.2.1/theme-chalk/index.min.css">
  <link href="/src/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
  <link href="/lib/css/zTreeStyle.css" rel="stylesheet">
  <link href="/lib/css/bootstrap-table.css" rel="stylesheet">
  <link href="/lib/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <link href="/src/css/common/search_table.css" rel="stylesheet">
  <link href="/src/css/details_common.css" rel="stylesheet">
  <link href="/src/css/common/view.pic.css" rel="stylesheet">
  <link href="/src/css/keyword/keyplan.css" rel="stylesheet">
  <link href="/src/css/common/group.tree.css" rel="stylesheet" />
</head>

<body>
  <div id="page">
    <div class="wrapper-main">
      <!--高级搜索-->
      <div class="container-fluid search_item_wrapper">
        <div class="top">
          <div class="row search_title">
            <div class="col-lg-6 col-md-6 col-xs-12 btn_wrapper">
              <div class="col=lg-10 col-xs-10">
                <div class="item col-xs-3 " data-value="" :class="currentStatus==''?'active':''" @click="changeStatus">全部</div>
                <div class="item col-xs-3" data-value="1" :class="currentStatus=='1'?'active':''" @click="changeStatus">已发布</div>
                <div class="item col-xs-3" data-value="0" :class="currentStatus=='0'?'active':''" @click="changeStatus">未发布</div>
                <div class="item col-xs-3" data-value="-1" :class="currentStatus=='-1'?'active':''" @click="changeStatus">已关闭</div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 right_wrapper">
              <div class="search_btn_right">
                <div class="search_reset" @click="claerSearch">重置</div>
              </div>
              <div class="search_wrapper">
                <div class="input_wrapper">
                  <input class="" v-model="keyword" id="searchInput" type="text" placeholder="输入关键字搜索">
                </div>
                <span class="mybtn" @click="refreshTable">确定</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/高级搜索-->
      <!--数据列表-->
      <div class="data_tab">
        <div class="row">
          <div class="container-fluid">
            <div id="toolbar" class="btn-group">
              <button type="button" data-toggle="modal" class="btn btn-default" @click="addTask">
                <span style="padding-right:5px"class="fa fa-plus" ></span>新建
              </button>
            </div>
            <table id="table"></table>
          </div>
        </div>
      </div>
      <!--/数据列表-->
    </div>


    <div id="task" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>{{title}}<a class="close" data-dismiss="modal">×</a></h3>
          </div>
          <div class="modal-body">
            <div class="taskform">
              <div class="form_list">
                <div class="form_part">
                  <div class="list_left text-right">
                    <i>*</i>计划名称
                  </div>
                  <div class="list_right">
                    <input type="text" class="form-control" placeholder="请输入计划名称" v-model="taskForm.name">
                  </div>
                </div>
                <div class="form_part">
                  <div class="list_left text-right">
                    <i>*</i>计划编号
                  </div>
                  <div class="list_right">
                    <input type="text" class="form-control" placeholder="请输入计划编号" v-model="taskForm.code">
                  </div>
                </div>
              </div>
              <div class="form_list">
                <div class="form_part">
                  <div class="list_left text-right">
                    <i>*</i>开始时间
                  </div>
                  <div class="list_right has-feedback">
                    <input type="text" placeholder="请选择开始时间" readOnly id="startTime" :disabled="isUpdateStartTime" class="form-control form_datetime"
                      v-model="taskForm.startTime">
                  </div>
                </div>
                <div class="form_part">
                  <div class="list_left text-right">
                    <i>*</i>结束时间
                  </div>
                  <div class="list_right ">
                    <input type="text" placeholder="请选择结束时间" readOnly id="endTime" :disabled="isUpdateEndTime" class="form-control form_datetime"
                      v-model="taskForm.endTime">
                  </div>
                </div>
              </div>
              <!--<div class="form_list">
                <div class="list_left text-right">
                  <i>*</i> 安检人员
                </div>
                <div class="list_right postionr ">
                  <input type="text" class="form-control hander" placeholder="请选择安检人员" readonly v-model="taskForm.personNames" @click="selectPeople">
                  <span class="form-control-feedback right10" aria-hidden="true">
                       <img src="/src/images/event/slaff.png" alt="">
                </span>
                </div>
              </div>-->
              <div class="form_list">
                <div class="list_left text-right">
                  备注
                </div>
                <div class="list_right textarea_text">
                  <textarea class="form-control" v-model="taskForm.remark"></textarea>
                  <span class="text_num">({{textCount}}字)</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button @click="saveTask" type="button" class="btn modal_active btn-primary">确定</button>
            <button type="button" class="btn modal_close btn-default" data-dismiss="modal">取消</button>
          </div>
        </div>
      </div>
    </div>


    <div id="details" class="modal fade bs-example-modal-lg" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>计划详情<a class="close" data-dismiss="modal">×</a></h3>
          </div>
          <div class="modal-body">
            <div class="details_main">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-2 col-sm-2 text-right details_title">计划名称</div>
                  <div class="col-md-4 col-sm-4 details_text ">{{detailForm.name}}</div>
                  <div class="col-md-2 col-sm-2 text-right details_title">计划编号</div>
                  <div class="col-md-4 col-sm-4 details_text">{{detailForm.code}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2 col-sm-2 text-right details_title">开始时间</div>
                  <div class="col-md-4  col-sm-4 details_text">{{detailForm.startTime}}</div>
                  <div class="col-md-2 col-sm-2 text-right details_title">结束时间</div>
                  <div class="col-md-4  col-sm-4 details_text">{{detailForm.endTime}}</div>
                </div>
                <!--<div class="row">
                  <div class="col-md-2 col-sm-2 text-right details_title">安检人员</div>
                  <div class="col-md-10  col-sm-10 details_text">{{detailForm.personNames}}</div>
                </div>-->
                <div class="row">
                  <div class="col-md-2 col-sm-2 text-right details_title">备注</div>
                  <div class="col-md-10  col-sm-10 details_text">{{detailForm.remark}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>

    <!--必经点的选择-->

  </div>


  <div id="people" style="z-index:1052" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>分配<a class="close" data-dismiss="modal">×</a></h3>
        </div>
        <div class="modal-body ">
          <div class="department_select scrollContainer ">
            <ul id="group_list" class="ztree"></ul>
          </div>
        </div>
        <div class="modal-footer">
          <button id="selectPeople" type="button" class="btn modal_active btn-primary">确定</button>
          <button type="button" class="btn modal_close btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/src/js/common/drafting.js"></script>
  <script type="text/javascript" src="/lib/js/vue.min.js"></script>
  <script src="/lib/element-ui/v2.2.1/index.min.js"></script>
  <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ggGUMM84vpa9GRP6HkOvt2H5UneQeXCQ&s=1"></script>
  <script type="text/javascript" src="https://api.map.baidu.com/library/DistanceTool/1.2/src/DistanceTool_min.js"></script>
  <script type="text/javascript" src="https://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
  <script type="text/javascript" src="https://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>
  <script type="text/javascript" src="/lib/js/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="/lib/js/jquery.ztree.all.min.js"></script>
  <script type="text/javascript" src="/lib/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/lib/js/bootstrap-table.min.js"></script>
  <script type="text/javascript" src="/lib/js/bootstrap-table-zh-CN.min.js"></script>
  <script type="text/javascript" src="/lib/js/bootstrap-datetimepicker.min.js"></script>
  <script src="/src/js/common/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src="/lib/js/common_base.js"></script>
  <script type="text/javascript" src="/src/js/common/bootstrap.modal.alert.js"></script>
  <script type="text/javascript" src="/src/js/common/html5-storage.js"></script>
  <script type="text/javascript" src="/src/js/common/common.js"></script>
  <script type="text/javascript" src="/src/js/common/group.tree.js"></script>
  <script type="text/javascript" src="/src/js/keyword/keyplan.js"></script>

  <script>
    $(".scrollContainer").mCustomScrollbar({
      advanced: {
        updateOnContentResize: true
      }
    });
  </script>
</body>

</html>