<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link href="/lib/css/bootstrap.min.css" rel="stylesheet">
  <link href="/lib/css/zTreeStyle.css" rel="stylesheet">
  <link href="/lib/css/bootstrap-table.css" rel="stylesheet">
  <link href="/lib/css/font-awesome.min.css" rel="stylesheet">
  <link href="/src/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
  <link href="/lib/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <link href="/src/css/common/search_table.css" rel="stylesheet">
  <link href="/src/css/keyword/peopleAndNodeRelation.css" rel="stylesheet">
</head>
<div id="page-wrapper">
  <!-- container-fluid -->
  <div class="container-fluid">
    <div class="wrapper-main">
      <!--高级搜索-->
      <div class="container-fluid search_item_wrapper">
        <div class="top">
          <div class="row search_title">
            <div class="col-lg-6 col-md-6 col-xs-12 btn_wrapper">
              <div class="col=lg-10 col-xs-10">
                <div class="item col-xs-4 " data-value="" @click="chooseStatus" :class="distributionStatus==''?'active':''">全部</div>
                <div class="item col-xs-4" data-value="1" @click="chooseStatus" :class="distributionStatus=='1'?'active':''">已分配</div>
                <div class="item col-xs-4" data-value="0" @click="chooseStatus" :class="distributionStatus=='0'?'active':''">未分配</div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 right_wrapper">
              <div class="search_btn_right">
                <div class="search_reset" @click="clearTable">重置</div>
              </div>
              <div class="search_wrapper">
                <div class="input_wrapper">
                  <input class="" v-model="keyword" type="text" placeholder="输入区域、分组、人员名称">
                </div>
                <span class="mybtn" @click="search">确定</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/高级搜索-->
      <!--数据列表-->
      <div class="data_tab">
        <div class="row">
          <div class="container-fluid">
            <table id="table"></table>
          </div>
        </div>
      </div>
      <!--/数据列表-->
    </div>
  </div>
</div>
<!--分配页面-->
<div id="chooseNode" class="modal fade bs-example-modal-lg" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>关键点配置<a class="close" @click="cancalChooseNode">×</a></h3>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="left fl ">
            <div class="top">
              <span class=" inputbg" :class="isAllCheckedNoAllot?'inputbg_h':'inputbg'" @click="isAllCheckedNoAllotNode">
                当前区域分组下的所有关键点</span>
            </div>
            <div class="search">
              <input type="text" placeholder="请输入名称、编号" class="form-control" v-model="noallotKeyWord">
            </div>
            <div style="height:370px;overflow: auto;padding-bottom: 10px;" class="scrollContainer">
              <div style="color:#333;text-align: center" v-show="noAllotNodeArrs.length==0">
                暂无数据
              </div>
              <ul class="noallot">
                <li v-for="(item,index) in noAllotNodeArrs" @click="clickNoAllotItem(item,index)">
                  <div class="item">
                    <!--<span class="tooltip-show" data-placement="bottom" data-toggle="tooltip" title="show">-->
                      <div class="itemLeft">
                        <span class="check" :class="item.checked?'inputbg_h':'inputbg'"></span>
                      </div>
                      <div class="itemRight">
                        <div class="items">
                          <div class="base hidd">
                            {{item.name}}
                            <span class="code ">（{{item.code}}）</span>
                          </div>
                          <div class="status" :style="item.assignStatus=='未分配'?'color:red':''">
                            {{ item.assignStatus}}
                          </div>
                        </div>
                        <div class="locationbg hidd">
                          {{item.location}}
                        </div>
                      </div>
                    <!--</span>-->
                  </div>
                </li>
            </ul>
          </div>
        </div>
        <div class="btn-left fl ">
          <button class="upleft" :disabled="toNoAllot" :class="toNoAllotBg?'bgblue':''" @click="toRight">
                 <i class="fa fa-angle-right"></i>
                </button>
          <button class="upright" :disabled="toAllot" :class="toAllotBg?'bgblue':''" @click="toLeft">
                 <i class="fa fa-angle-left"></i> </button>
        </div>
        <div class="right fr">
          <div class="top">
            <span class="all" :class="isAllChecked?'inputbg_h':'inputbg'" @click="isAllCheckedAllot">
                 当前人员已分配的关键点</span>
          </div>
          <div class="search">
            <input type="text" placeholder="请输入名称、编号" class="form-control" v-model="allotKeyWord">
          </div>
          <div style="height:370px;overflow: auto;padding-bottom: 10px;" class="scrollContainer">
            <div style="color:#333;text-align: center" v-show="allotNodeArrs.length==0">
              暂无数据
            </div>
            <ul class="allot">
              <li v-for="(item,index) in allotNodeArrs" @click="clickItem(item,index)">
                <div class="item">
                  <div class="itemLeft">
                    <span class="check" :class="item.checked?'inputbg_h':'inputbg'"></span>
                  </div>
                  <div class="itemRight">
                    <div class="base hidd">
                      {{item.name}}
                      <span class="code ">（{{item.code}}）</span>
                    </div>
                    <div class="locationbg hidd">
                      {{item.location}}
                    </div>
                  </div>
                </div>
              </li>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn modal_active submit" @click="submit">确定</button>
      <button class="btn modal_active " @click="cancalChooseNode">取消</button>
    </div>
  </div>
</div>
</div>

<body>
  <script type="text/javascript" src="/lib/js/vue.min.js"></script>
  <script type="text/javascript" src="/lib/js/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="/lib/js/jquery.ztree.all.min.js"></script>
  <script type="text/javascript" src="/lib/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/lib/js/bootstrap-table.min.js"></script>
  <script type="text/javascript" src="/lib/js/bootstrap-table-zh-CN.min.js"></script>
  <script type="text/javascript" src="/lib/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src="/lib/js/common_base.js"></script>
  <script src="/src/js/common/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src="/src/js/common/bootstrap.modal.alert.js"></script>
  <script type="text/javascript" src="/src/js/common/html5-storage.js"></script>
  <script type="text/javascript" src="/src/js/common/common.js"></script>
  <script src="/src/js/keyword/peopleAndNodeRelation.js"></script>
  <script>
    $(".scrollContainer").mCustomScrollbar({
      advanced: {
        updateOnContentResize: true
      }
    });
  </script>
</body>

</html>