<!DOCTYPE html>
<html lang="en">

<head>
    <title>管网地图</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/lib/css/bootstrap.css" rel="stylesheet">
    <link href="/src/css/jquery.mCustomScrollbar.css" rel="stylesheet">
    <link href="/lib/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <!-- 这里引入组件的css，每个人写的scss放在一个scss文件内，每个组件的css用一个class类包裹，避免混淆 -->
    <link href="/src/css/pipeline_map/pipelineright.css" rel="stylesheet">
    <link href="/src/css/pipeline_map/pipe_line.css" rel="stylesheet">
    <link href="/src/css/pipeline_map/modal_vue.css" rel="stylesheet">
    <link href="/src/css/pipeline_map/index.css" rel="stylesheet">
</head>

<body>
    <div id="app" class="app">
        <div class="index_wrapper">
            <pipe-left :pipenetdatas="aNetDetails" :domainvalue="domainValue" :pointerdatas="aLineDetails" :snetid="sNetId_choosed" :slineid="sLineId_choosed" :olinedetailedited="olineDetail_edited" :olinetoshow="oLine_toThow" @olinechange="setsLine_toThow" @choosenet="chooseNet"
                @checkedline="chooseLine" @enterlinelist="enterLineList" @updatenetdetailbyid="updateNetDetailById" @updatelinedetailbyid="updateLineDetailById" ref="pipeleft"></pipe-left>


            <pipeline-baidumap :markerpoint="markerPoint" :linedetails="aLineDetailsToShow" :linedetailsedited="olineDetail_edited" :istabshow="sLineId_choosed" @setmarkerpoint="setMarkerPoint" @changeline="editLineDetail" @clickline="setsLine_toThow" @savedetail="saveLineStyleAndPoint"></pipeline-baidumap>


            <pipeline-edit :domainvalue="domainValue" :markerpoint="markerPoint" @setmarkerpoint="setMarkerPoint" :netdetail="oNetDetail_choosed" :linedetail="oLineDetail_choosed" :editdetail="olineDetail_edited" @chooseclosenet="chooseNet" @checkedcloseline="chooseLine"
                @saveline="updateLineDetailById" @savework="updateNetDetailById" @changelinefn="editLineDetail"></pipeline-edit>
        </div>

        <!-- <pipe-net-example></pipe-net-example> -->
    </div>
    <!-- 组件内的模板这样写 -->
    <script type="text/x-template" id="pipe_net_example">
        <!-- 书写scss使用class做为选择器 -->
        <!-- 最外层使用一个div包裹，其class值为组件的id值，以此class值作为书写scss是，单个组件的最外层包裹的clas类s -->
        <div class="pipe_net_example">
            <div class="wrapper" @click="clickit">
                这是一个例子
            </div>
        </div>
    </script>
    <!-- 地图组件 -->
    <script type="text/x-template" id="pipeline_baidumap">
        <div class="pipeline_baidumap">
            <div id="mapContainer" class="mapContainer"></div>
            <div class="btnWrapper" v-show="istabshow">
                <!-- <div class="item draw"  :class="{active:sCurrentTap ==='draw'}"  @click="changeTab('draw')" v-show="isNoPoints">画线</div> -->
                <div class="item keep" :class="{active:sCurrentTap ==='draw'}" @click="changeTab('draw')">绘制</div>
                <div class="item draw" :class="{active:sCurrentTap ==='edit'}" @click="changeTab('edit')" v-show="!isNoPoints">编辑</div>
                <div class="item save" :class="{active:sCurrentTap ==='save'}" @click="changeTab('save')" v-show="linedetailsedited">保存</div>
            </div>
        </div>
    </script>
    <!-- 右侧所有组件集合 -->
    <script type="text/x-template" id="pipeline_edit">
        <div class="rightArea">
            <modal-vue v-if="show" :styleobj="styleobj" :footer="aFooters" @click2="cancel" @click1="uploadbtn">
                <div class="formImportList importInputLine">
                    <p>
                        <i>*</i>请选择导入的文件
                    </p>
                </div>
                <div class="formImportList">
                    <div class="feedback_img_file">
                        <input type="file" onchange="handleFiles(this);" id='importFile' class="upload_picture" name="file" multiple="multiple" />
                    </div>
                    <div class="batchImport" @click="browse">
                        <input class="batchImportInput form-control" readonly type="text" placeholder="支持xlsx，xls文件格式">
                        <span class="submitFile">浏览...</span>
                    </div>
                    <p class="importTxt">当前仅支持坐标系为WGS84的经纬度坐标。</p>
                </div>
            </modal-vue>
            <modal-vue v-if="errorinfo" :styleobj="pointerstyleobj" :footer="pointeraFooters" @click2="close">
                <div class="hintsMain">
                    <div class="hintsMainTitle">
                        <p>您好！您导入的<span class="hintsTotal">100</span>条记录其中<span class="hintsNum">10</span>条存在<i>数据异常</i>具体如下，请您修改后再次导入。</p>
                    </div>
                    <div class="hintsMainList scrollpointer">
                        <p><span class="listLeft">行号</span><span class="listRight">经度</span><span class="listRight">纬度</span><span class="listRight">错误信息</span></p>
                        <ul>
                            <!-- <li><span class="rownum listLeft">1</span><span class="lon listRight">111111</span><span class="lat listRight">111111</span><span class="errorinfo listRight">111111</span></li>
                            <li><span class="rownum listLeft">1</span><span class="lon listRight">111111</span><span class="lat listRight">111111</span><span class="errorinfo listRight">111111</span></li>
                            <li><span class="rownum listLeft">1</span><span class="lon listRight">111111</span><span class="lat listRight">111111</span><span class="errorinfo listRight">111111</span></li> -->
                        </ul>
                    </div>
                </div>
            </modal-vue>
            <div class="pipelineEdit shadow" v-show="linedata">
                <pipe-right-title @tabchange="tabchange"></pipe-right-title>
                <!--<transition>-->
                <div class="rightcontent">
                    <pipe-right-content-attribute v-show="sCurrentTap === 'attributeShow'" :domainvalue="domainvalue" :detail="linedata" @savelineattribute="savelineattribute"></pipe-right-content-attribute>
                    <pipe-right-content-style v-show="sCurrentTap === 'styleShow'" :detailstyle="linedata" @styleedit="changelinefn"></pipe-right-content-style>
                    <pipe-right-content-point v-show="sCurrentTap === 'pointShow'" :detailPointer="linedata" @pointedit="changelinefn" @pointerImport="pointerImport" :markerpoint="markerpoint" @setmarkerpoint="setmarkerpoint"></pipe-right-content-point>
                </div>
                <div class="left-edit-close fa fa-fw fa-close" @click="pipeNeLineClose"></div>
                <div class="left-edit-shrink fa fa-fw fa-chevron-down" @click="shrink"></div>
                <!--</transition>-->
            </div>
            <div class="pipenetworkEdit" v-show="netdetail&&!linedata">
                <div class="rightTitle"><span class="pipeNetworkName">管网属性</span><span class="pipeNetworkClose fa fa-fw fa-close" @click="pipeNetworkClose"></span><span class="pipeNetworkShrink fa fa-fw fa-chevron-down" @click="networkshrink"></span></div>
                <div class="netrightcontent shadow">
                    <pipenetwork-attribute :details="netdetail" @saveworkattribute="saveattribute"></pipenetwork-attribute>
                </div>
            </div>
        </div>
    </script>
    <!-- 右侧title组件 -->
    <script type="text/x-template" id="pipe-right-title">
        <div class="rightTitle">
            <ul>
                <li class="active" @click="tabchange('attributeShow',$event)"><span>属性</span></li>
                <li @click="tabchange('styleShow',$event)"><span class="aloneStyle">样式</span></li>
                <li @click="tabchange('pointShow',$event)"><span>坐标点</span></li>
            </ul>
        </div>
    </script>
    <!-- 右侧切换内容 属性组件 -->
    <script type="text/x-template" id="pipe-right-content-attribute">
        <div class="right-content-attribute borderRadius">
            <div class="scrollpointer" style="max-height:420px;height:420px;width:100%;">
                <div class="modify-item">
                    <p><i>*</i>管线名称：</p>
                    <div class="pipe-name"><input type="text" class="form-control" :disabled="isDisable" name="pipeLineName" v-model='changeObj.pipeLineName'></div>
                </div>
                <div class="modify-item">
                    <p>管线编号：</p>
                    <div class="pipe-line-code"><input type="text" class="form-control" :disabled="isDisable" name="pipeLineCode" v-model='changeObj.pipeLineCode'></div>
                </div>
                <div class="modify-item">
                    <p>管线类型：</p>
                    <div class="pipe-line-type-code">
                        <select class="form-control" :disabled="isDisable" name="pipeLineTypeCode" v-model="changeObj.pipeLineTypeCode">
                            <option v-for="option in pipeLineTypeOption" v-bind:value="option.code">{{option.value}}</option>
                        </select>
                    </div>
                </div>
                <div class="modify-item">
                    <p><span class="w2">材质</span>：</p>
                    <div class="pipe-type">
                        <select class="form-control" :disabled="isDisable" name="pipeMaterialName" v-model="changeObj.pipeMaterialCode">
                            <option v-for="option in pipeMaterOption" v-bind:value="option.code">{{option.value}}</option>
                        </select>
                    </div>
                </div>
                <div class="modify-item">
                    <p><span class="w2">管径</span>：</p>
                    <div class="pipe-diameter"><input type="text" class="form-control" :disabled="isDisable" name="pipeDiameter" v-model="changeObj.pipeDiameter"></div>
                </div>
                <div class="modify-item">
                    <p><span class="w2">壁厚</span>：</p>
                    <div class="wall-thickness"><input type="text" class="form-control" :disabled="isDisable" name="pipeThickness" v-model="changeObj.pipeThickness"></div>
                </div>
                <div class="modify-item">
                    <p><span>压力等级</span>：</p>
                    <div class="">
                        <select class="form-control" :disabled="isDisable" name="pipePressureGradeName" v-model="changeObj.pipePressureGradeCode">
                            <option v-for="option in pipePressureGrade" v-bind:value="option.code">{{option.value}}</option>
                        </select>
                    </div>
                </div>
                <div class="modify-item">
                    <p><span class="w2">压力</span>：（MPa）</p>
                    <div><input type="text" class="form-control" :disabled="isDisable" name="pipePressureValue" v-model="changeObj.pipePressureValue"></div>
                </div>
                <div class="modify-item">
                    <p><span>建设时间</span>：</p>
                    <div><input type="text" readonly class="form-control" :disabled="isDisable" id="constructionDate" name="pipeConstructionDate" v-model="changeObj.pipeConstructionDate"></div>
                </div>
                <div class="modify-item">
                    <p><span>使用状态</span>：</p>
                    <div class="">
                        <select class="form-control" :disabled="isDisable" name="pipeUsingStateName" v-model="changeObj.pipeUsingStateCode">
                            <option v-for="option in pipeUsingState" v-bind:value="option.code">{{option.value}}</option>
                        </select>
                    </div>
                </div>
                <div class="modify-item">
                    <p>管线长度：（km）</p>
                    <div class="pipe-length"><span>{{detail.pipeLength}}</span></div>
                </div>
                <div class="modify-item">
                    <p>实际长度：（km）</p>
                    <div class="actual-length"><input type="text" class="form-control" :disabled="isDisable" name="pipeFactLength" v-model="changeObj.pipeFactLength"></div>
                </div>
                <div class="piple-remarks">
                    <p><span class="w2">备注</span>：</p>
                    <div class="actual-length">
                        <!-- @input="checkLen($event)" -->
                        <textarea class="form-control" :disabled="isDisable" maxLength="200" name="pipeLineRemark" v-model="changeObj.pipeLineRemark"></textarea>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button class="commonBtn attributeBtn btnBgcolor" @click="save_attribute($event)">{{isDisable?'修改':'保存'}}</button>
            </div>
        </div>
    </script>
    <!-- 右侧切换内容 样式组件 -->
    <script type="text/x-template" id="pipe-right-content-style">
        <div class="right-content-style borderRadius">
            <div class="title">
                <p>管线颜色：</p>
                <div class="bgcolor">
                    <span class="bgColorStyle"></span>
                    <span class="chooseColor"></span>
                </div>
            </div>
            <div class="title">
                <p>管线样式：</p>
                <div class="bordercolor">
                    <span class="borderColorStyle"></span>
                    <select class="chooseStyle">
                        <option value="1">实线</option>
                        <option value="2">虚线</option>
                    </select>
                </div>
            </div>
            <div class="title">
                <p>管线宽度：</p>
                <div class="borderWidth">
                    <ul class="lanren">
                        <li>
                            <div class="scale_panel">
                                <div class="scale" id="bar">
                                    <div></div>
                                    <span id="btn"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <span class="chooseSize"><input id="font_size" type="text" :value="detailstyle.pipeWeight">px</span>
                </div>
            </div>
            <div class="title">
                <p>效果预览：</p>
                <div class="preview"></div>
            </div>
        </div>
    </script>
    <!-- 右侧切换内容 坐标点组件 -->
    <script type="text/x-template" id="pipe-right-content-point">
        <div class="right-content-point borderRadius">
            <div class="scrollpointer" style="max-height:310px;width:100%;">
                <div>
                    <div class="point" v-for="(item,index) in (this.detailPointer.line)" @mouseover="setMarkPoint(item)" @mouseout="setMarkPoint('')" :class="{'clickpoint' : item.bdLon == markerpoint.bdlon&&item.bdLat == markerpoint.bdLat }">
                        <div class="point-left">{{index+1}}</div>
                        <div class="point-center">
                            <p>经度：<span>{{item.bdLon}}</span></p>
                            <p>纬度：<span>{{item.bdLat}}</span></p>
                        </div>
                        <div class="point-right" @click="deletePointer(index)" title="删除坐标点"></div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button class="btnBgcolor" @click="pointerImport">导入坐标</button>
                <button class="btnBgcolor" @click="downTemplate">下载模板</button>
            </div>
        </div>
    </script>
    <!-- 右侧管网 属性组件 -->
    <script type="text/x-template" id="pipenetwork-attribute">
        <div class="pipenetwork-attribute borderRadius">
            <div class="networkName">
                <p><i>*</i>管网名称：</p>
                <div><input type="text" class="form-control" name="pipeNetworkName" :disabled="isNetDisable" v-model="pipeNetworkNameL"></div>
            </div>
            <!-- <div class="creatTime">
                <ul>
                    <li>
                        <span class="left">创建时间</span>
                        <span class="right">{{details.createTime}}</span>
                    </li>
                    <li>
                        <span class="left">创&nbsp;&nbsp;建&nbsp;&nbsp;人</span>
                        <span class="right">{{details.createUserName}}</span>
                    </li>
                    <li>
                        <span class="left">管线数量</span>
                        <span class="right">{{details.pipeLineCount}}</span>
                    </li>
                </ul>
            </div> -->
            <div class="networkRemarks">
                <p><span class="w2">备注</span>：</p>
                <div class="actual-length"><textarea name="pipeNetworkRemark" maxLength="200" class="form-control" :disabled="isNetDisable" v-model="pipeNetworkRemarkL"></textarea></div>
            </div>
            <div class="footer">
                <button class="commonBtn btnBgcolor attributeWorkBtn" @click="save_workattribute">{{isNetDisable?'修改':'保存'}}</button>
            </div>
        </div>
    </script>

    <!--左侧整体组件-->
    <script type="text/x-template" id="pipe-left">

        <div style="height:100%">
            <modal-vue v-if="netshow" :styleobj="styleobj" :footer="aFooters" @click1="createSave" @click2="createInfo">
                <input-vue title="管网名称" placeholder="请输入管网名称" name="pipeNetworkName" :inputobj="inputobj" :required="true"></input-vue>
                <textarea-vue title="备注" placeholder="请输入备注" name="pipeNetworkRemark" :inputobj="inputobj"></textarea-vue>
            </modal-vue>
            <modal-vue v-if="pipeshow" :styleobj="styleobj" :footer="aFooters" @click1="createSave" @click2="createInfo">
                <div class="form_list">
                    <input-two-vue title="管线名称" placeholder="请输入管线名称" name="pipeLineName" :inputobj="inputobj" :required="true"></input-two-vue>
                    <input-two-vue title="管线编号" placeholder="请输入管线编号" name="pipeLineCode" :inputobj="inputobj"></input-two-vue>
                </div>
                <div class="form_list">
                    <select-vue title="管线类型" :optiondata="pipeLineTypeOption" name="pipeLineTypeCode" :inputobj="inputobj"></select-vue>
                    <select-vue title="材质" :optiondata="pipeMaterOption" name="pipeMaterialCode" :inputobj="inputobj"></select-vue>
                </div>
                <div class="form_list">
                    <input-two-vue title="管径" placeholder="请输入管线的管径" name="pipeDiameter" :inputobj="inputobj"></input-two-vue>
                    <input-two-vue title="壁厚" placeholder="请输入管线壁厚" name="pipeThickness" :inputobj="inputobj"></input-two-vue>
                </div>
                <div class="form_list">
                    <select-vue title="压力等级" :optiondata="pipePressureGrade" name="pipePressureGradeCode" :inputobj="inputobj"></select-vue>
                    <input-two-vue title="压力" placeholder="请输入管线压力（MPa）" name="pipePressureValue" :inputobj="inputobj"></input-two-vue>
                </div>
                <div class="form_list">
                    <div class="form_part">
                        <div class="list_left text-right">
                            建设时间
                        </div>
                        <div class="list_right has-feedback">
                            <input type="text" size="16" class="form-control pointer" id="pipeConstructionDate" name="pipeConstructionDate" placeholder="请选择建设时间" readonly>
                            <span class="form-control-feedback" aria-hidden="true" style="right:20px;">
                                    <img src="/src/images/event/time.png" alt="">
                            </span>
                        </div>
                    </div>
                    <input-two-vue title="实际长度" placeholder="请输入管线实际长度（km）" name="pipeFactLength" :inputobj="inputobj"></input-two-vue>
                </div>
                <div class="form_list">
                    <select-vue title="使用状态" :optiondata="pipeUsingState" name="pipeUsingStateCode" :inputobj="inputobj"></select-vue>
                </div>
                <textarea-vue title="备注" placeholder="请输入备注" name="pipeLineRemark" :inputobj="inputobj"></textarea-vue>
            </modal-vue>
            <modal-vue v-if="pipeEditShow" :styleobj="styleeditobj" :footer="aFooters" @click2="canceledit">
                <div class="detail">
                    <span-two-vue title="管线名称" :text="olinetoshow.pipeLineName" :required="true"></span-two-vue>
                    <span-two-vue title="管线编号" :text="olinetoshow.pipeLineCode"></span-two-vue>
                </div>
                <div class="detail">
                    <span-two-vue title="管线类型" :text="olinetoshow.pipeLineTypeName"></span-two-vue>
                    <span-two-vue title="材质" :text="olinetoshow.pipeMaterialName"></span-two-vue>
                </div>
                <div class=" detail">
                    <span-two-vue title="管径" :text="olinetoshow.pipeDiameter"></span-two-vue>
                    <span-two-vue title="壁厚" :text="olinetoshow.pipeThickness"></span-two-vue>
                </div>
                <div class=" detail">
                    <span-two-vue title="压力等级" :text="olinetoshow.pipePressureGradeName"></span-two-vue>
                    <span-two-vue title="压力(MPa)" :text="olinetoshow.pipePressureValue"></span-two-vue>
                </div>
                <div class="detail">
                    <span-two-vue title="建设时间" :text="olinetoshow.pipeConstructionDate"></span-two-vue>
                    <span-two-vue title="实际长度" :text="olinetoshow.pipeFactLength"></span-two-vue>
                </div>
                <div class="detail">
                    <span-vue title="使用状态" :text="olinetoshow.pipeUsingStateName"></span-vue>
                </div>
                <textarea-view-vue title="备注" :text="olinetoshow.pipeLineRemark"></textarea-view-vue>
            </modal-vue>
            <!--<div class="leftArea">-->
            <!-- 这里写管网组件模块和管线组件模块 -->
            <div class="pipe-left" style=" transition: all .5s" :style="warpperslidestyle">
                <div class="slide-content">
                    <div class="listwrapper slide" :style="slidestyle">
                        <pipe-net-list :pipenetdatas="pipenetdatas" :snetid="snetid" :linetotal="lineTotal" @changelist="changelist" @chooseNet="chooseNet" @createinfo="createInfo" @updatenetdetailbyid="updateNetDetailById" @enterlinelist="enterlinelist" style="flex-grow:1;"></pipe-net-list>
                        <pipe-line-list :pointerdatas="chooseLine" :olinedetailedited="olinedetailedited" :linetotal="lineTotal" :slineid="slineid" :currentnetname="currentNetName" @changelist="changelist" @checkedline="checkedline" @createinfo="createInfo" @enterlinelist="enterlinelist"
                            @updatelinedetailbyid="updateLineDetailById" style="flex-grow:1;"></pipe-line-list>
                    </div>
                </div>
                <span class="up_btn" @click="changeListShow"></span>
            </div>
        </div>


    </script>
    <!--左边头部的组件-->
    <script type="text/x-template" id="pipe_left_top">
        <div class="pipe_left_top">
            <!--<div class="left_top"class=" ">-->
            <div class="title" @click="click1">
                <span class="fa fa-fw fa-plus-square-o"></span> {{title}}
            </div>
            <!--</div>-->

        </div>
    </script>
    <!--管线列表展示组件-->
    <script type="text/x-template" id="pipe_line_list">
        <div class="pipe_line_list">
            <pipe-left-top title="新建管线" @click1="createInfo"></pipe-left-top>
            <div class="left_content">
                <div class="pipe_top umli100" v-text="currentnetname" style="padding:0px 10px;">

                </div>
                <div class="line_content">
                    <div class="scroll" style="height:100%;">
                        <ul>
                            <li v-for="(item,key) in pointerdatas" @click="clickLi(item)" :class="{'clickon' : item.objectId == slineid }">
                                <div class="linecontent">
                                    <div class="line_title">
                                        <div class="umli100 wid200">
                                            管线名称<span>：</span><span v-text="item.pipeLineName"></span>
                                        </div>
                                        <span class="btn_close" @click.stop="deleteLine(item)" title="删除管线"></span>
                                        <span class="btn_editd" title="编辑管线"></span>
                                    </div>
                                    <div class="line_title">
                                        <!--<div class="umli100 fl">
                                            管线类型<span>：</span><span v-text="item.pipeLineTypeName"></span>
                                        </div>-->
                                        <div class="umli100 wid200">
                                            管线类型<span>：</span><span v-text="item.pipeLineTypeName"></span>
                                        </div>
                                    </div>
                                    <div class="line_title">
                                        <div class="umli100 wid200">
                                            使用状态<span>：</span><span v-text="item.pipeUsingStateName"></span>
                                        </div>
                                        <!--<div class="umli100  mar10">
                                            材质<span>：</span><span v-text="item.pipeMaterialName"></span>
                                        </div>-->
                                    </div>
                                    <!--<div class="line_title">
                                        <div class="umli100">
                                            <span class="w2">备注</span><span>：</span><span v-text="item.pipeLineRemark"></span>
                                        </div>
                                    </div>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="left_footer" @click="back">
                <span>返回</span>
            </div>
        </div>
    </script>

    <!--管网列表展示组件-->
    <script type="text/x-template" id="pipe_net_list">
        <div class="pipe_net_list">
            <pipe-left-top title="新建管网" @click1="createInfo"></pipe-left-top>
            <div class="left_content left_net">
                <div class="pipe_top">
                    <div class="num">
                        管网数量：{{pipenetdatas.length}}
                    </div>
                    <div class="total">
                        <span>管线总数：</span><span v-text="linetotal"></span><span>/200</span>
                    </div>
                </div>
                <div class="net_content">
                    <div class="scroll" style="height:100%;">
                        <ul>
                            <li v-for="(item,index) in pipenetdatas" :class="{'clickon' : item.objectId == snetid }">
                                <div class="content" @click="clickLi(item)">
                                    <div class="line">
                                        <div class="pipe_name umli100">
                                            管网名称<span>：</span><span v-text="item.pipeNetworkName"></span>
                                        </div>
                                    </div>
                                    <div class="line">
                                        <div class="pipe_name umli100">
                                            创建时间<span>：</span><span v-text="item.createTime"></span>
                                        </div>
                                    </div>
                                    <div class="line">
                                        <div class="pipe_name umli100">
                                            <span class="w1">创建人</span><span>：</span><span v-text="item.createUserName"></span>
                                        </div>

                                    </div>
                                    <div class="line">
                                        <div class="pipe_name umli100">
                                            管线数量<span>：</span><span v-text="item.pipeLineCount"></span>
                                        </div>
                                    </div>
                                    <div class="line-footer ">
                                        <div class="check inputbg" :class="{'inputbg_h':item.pipeNetworkUsed==1}">

                                            <!--<input :id="checkbox(index)" class="styled" type="checkbox" :value="item.objectId" v-model="startuserpipe">-->
                                            <span class="clr666" @click.stop="checkNetToS(item)">
                                      启用管网
                                     </span>
                                            <!--</label>-->
                                        </div>
                                        <div class="btns">
                                            <div class="btn_close" @click.stop="deleteNet(item)" title="删除管网">
                                            </div>
                                            <div class="btn_edit" @click="enterInto(item);clickLi(item)" title="进入管网">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/javascript" src="/lib/js/vue.js"></script>
    <script type="text/javascript" src="/lib/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/lib/js/common_base.js"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ggGUMM84vpa9GRP6HkOvt2H5UneQeXCQ&s=1"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/library/DistanceTool/1.2/src/DistanceTool_min.js"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>

    <script src="/src/js/common/html5-storage.js"></script>

    <script src="/src/js/common/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript" src="/src/js/pipeline_map/jquery.colorpicker.js"></script>

    <script src="/src/js/common/bootstrap.modal.alert.js"></script>

    <script type="text/javascript" src="/src/js/common/uploadExcel.js"></script>
    <script type="text/javascript" src="/src/js/common/ajaxFileupload.js"></script>

    <!-- 在这里引入每人写的vue组件，每人一个js文件，文件内包含多个组件，为方便管理，请使用局部组件 -->
    <script src="/src/js/pipeline_map/pipe_line_vue.js"></script>
    <script src="/src/js/pipeline_map/model_vue.js"></script>
    <!-- <script src="/src/js/pipeline_map/example.js"></script> -->
    <script src="/src/js/pipeline_map/pipelineright.js"></script>

    <!-- 最后面是index.js 是vue的根实例-->
    <script src="/src/js/pipeline_map/createmap.js"></script>
    <script src="/src/js/pipeline_map/pipeline_baidumap.js"></script>
    <script src="/src/js/pipeline_map/index.js"></script>

</body>


</html>