html,
body {
  margin: 0px;
  padding: 0px;
}

#page {
  padding: 15px;
  .data_tab {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #e1e5e6;
    padding: 0px 10px 12px 10px;
    box-shadow: 2px 1px #e1e5e6;
    font-size: 14px;
    margin-top: 15px;
    .row {
      margin-top: 10px;
    }
    .check {
      i {
        display: inline-block;
        width: 22px;
        height: 16px;
        background: url(/src/images/event/look.png) no-repeat;
        vertical-align: middle;
        margin: 0 5px;
        &:hover {
          background: url(/src/images/event/look_h.png) no-repeat;
        }
      }
    }
    .management {
      i {
        display: inline-block;
        width: 19px;
        height: 21px;
        background: url(/src/images/node/modify.png) no-repeat;
        vertical-align: middle;
        margin: 0 5px;
        cursor: pointer;
        &:hover {
          background: url(/src/images/node/modify_h.png) no-repeat;
        }
      }
    }
    .management_end {
      cursor: default;
      i {
        display: inline-block;
        width: 19px;
        height: 21px;
        background: url(/src/images/node/modify_e.png) no-repeat;
        vertical-align: middle;
        margin: 0 5px;
      }
    }
    .closed {
      i {
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(/src/images/task/closed.png) no-repeat;
        vertical-align: middle;
        margin: 0 5px;
        &:hover {
          background: url(/src/images/task/closed_h.png) no-repeat;
        }
      }
    }
    .closed_end {
      cursor: default;
      i {
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(/src/images/task/closed_e.png) no-repeat;
        vertical-align: middle;
        margin: 0 5px;
      }
    }
    .publish1_end {
      cursor: default;
      i {
        display: inline-block;
        width: 22px;
        height: 22px;
        background: url(/src/images/node/publish_end.png) no-repeat;
        vertical-align: middle;
        margin: 0 5px;
      }
    }
    .setNode {
      cursor: pointer;
      i {
        display: inline-block;
        width: 22px;
        height: 22px;
        background: url(/src/images/node/set.png) no-repeat;
        background-size: 22px 22px;
        vertical-align: middle;
        margin: 0 5px;
        &:hover {
          background: url(/src/images/node/set_e.png) no-repeat;
          background-size: 22px 22px;
        }
      }
    }
    .setNode_end {
      cursor: default;
      i {
        display: inline-block;
        width: 22px;
        height: 22px;
        background: url(/src/images/node/set_ed.png) no-repeat;
        background-size: 22px 22px;
        vertical-align: middle;
        margin: 0 5px;
      }
    }
    .ban {
      cursor: pointer;
      i {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(/src/images/node/ban.png) no-repeat;
        background-size: 20px 20px;
        vertical-align: middle;
        margin: 0 10px;
        &:hover {
          background: url(/src/images/node/ban_e.png) no-repeat;
          background-size: 20px 20px;
        }
      }
    }
    .ban_end {
      cursor: default;
      i {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(/src/images/node/ban_end.png) no-repeat;
        background-size: 20px 20px;
        vertical-align: middle;
        margin: 0 10px;
      }
    }
    .publish1 {
      cursor: pointer;
      i {
        display: inline-block;
        width: 22px;
        height: 22px;
        background: url(/src/images/node/publish.png) no-repeat;
        vertical-align: middle;
        margin: 0 5px;
        &:hover {
          background: url(/src/images/node/publish_e.png) no-repeat;
        }
      }
    }
  }
}

.W60 .th-inner {
  width: 200px !important;
}

.nopublish {
  background: #ec7244;
  color: #fff;
  height: 20px;
  line-height: 20px;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}

.closePlan {
  background: #e3e3e3; //#42d28c;
  color: #fff;
  height: 20px;
  line-height: 20px;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}

.publish {
  background: #59b6fc; //#42d28c;
  color: #fff;
  height: 20px;
  line-height: 20px;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}

/*人员信息*/

#task {
  .modal-lg {
    .modal-content {
      width: 800px;
      height: 430px;
      margin: 0 auto;
      border-radius: 8px;
      overflow: hidden;
      .modal-header {
        height: 38px;
        background: #344052;
        color: #fff;
        padding: 0;
        margin: 0;
        h3 {
          line-height: 40px;
          font-size: 16px;
          text-align: center;
          margin: 0;
          a {
            color: #fff;
            margin-top: 6px;
            margin-right: 10px;
            font-weight: none;
            opacity: 1;
          }
        }
      }
      .modal-body {
        padding: 20px 20px 0 20px;
        overflow-y: auto;
        height: 340px;
        .taskform {
          background: #fff;
          border-radius: 5px;
          padding-top: 1px;
          padding-bottom: 10px;
          min-height: 320px;
          color: #636363;
          .form_part {
            width: 50%;
            float: left;
            .text-right {
              text-align: right;
            }
          }
          .form_list {
            overflow: hidden;
            line-height: 30px;
            margin-top: 15px;
            .text-right {
              text-align: right;
            }
            .list_left {
              width: 80px;
              float: left;
              i {
                color: red;
                vertical-align: middle;
                margin-right: 5px;
                font-size: 20px;
              }
            }
            .hander {
              cursor: pointer;
            }
            .postionr {
              position: relative;
            }
            .right10 {
              right: 15px;
            }
            .list_right {
              margin-left: 80px;
              width: auto;
              padding: 0 20px 0 10px;
            }
            .textarea_text {
              position: relative;
              textarea {
                resize: none;
                height: 120px;
                position: relative
              }
              .text_num {
                color: #999;
                position: absolute;
                bottom: 2px;
                right: 30px;
              }
            }
          }
        }
      }
      .modal-footer {
        text-align: center;
        background: #344052;
        height: 50px;
        padding: 0;
        margin: 0;
        button {
          height: 36px;
          border: none;
          width: 120px;
          margin: 7px 30px 0 30px;
          font-size: 16px;
        }
        .submit {
          background: #59b6fc;
          color: #fff;
        }
      }
    }
  }
}

/**人员信息**/

#people {
  .modal-lg {
    .modal-content {
      width: 500px;
      height: 600px;
      margin: 0 auto;
      border-radius: 8px;
      overflow: hidden;
      .modal-header {
        height: 38px;
        background: #344052;
        color: #fff;
        padding: 0;
        margin: 0;
        h3 {
          line-height: 40px;
          font-size: 16px;
          text-align: center;
          margin: 0;
          a {
            color: #fff;
            margin-top: 6px;
            margin-right: 10px;
            font-weight: none;
            opacity: 1;
          }
        }
      }
      .modal-body {
        padding: 20px 20px 0 20px;
        overflow-y: auto;
        height: 510px;
      }
      .modal-footer {
        text-align: center;
        background: #344052;
        height: 50px;
        padding: 0;
        margin: 0;
        button {
          height: 36px;
          border: none;
          width: 120px;
          margin: 7px 30px 0 30px;
          font-size: 16px;
        }
        .submit {
          background: #59b6fc;
          color: #fff;
        }
      }
    }
  }
}

#details {
  .modal-content {
    height: 400px !important;
  }
  .modal-body {
    height: 310px !important;
  }
  .details_main {
    min-height: 290px !important;
  }
}

.hidd {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bgblue {
  background: #409eff;
}

.W60 .th-inner {
  width: 100px !important;
}

.allotbg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background: url(/src/images/node/allots.png) no-repeat;
}

ul,
li {
  margin: 0px;
  padding: 0px;
}

ul{
  list-style: none;
}
li{
 width:260px;
 max-width: 300px;
}
.groupItem{
  height:25px;
  line-height: 25px;
}
.W100 .th-inner {
  width: 100px !important;
}
td{
  position: relative;
}
.showTip{
// position: absolute;
// left:0px;
// top:0px;
// background: url(/src/images/node/allots.png) no-repeat;
// display: inline-block;
// width:16px;
// height:16px;
// background-size: 16px 16px;

  // border-bottom: 2px solid #58b7f7;
  // border-bottom: 2px solid #333;
}